<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar navabar-nav">
        <li>
          <button class="btn btn-outline-info m-2" (click)="getAllAircrafts()">
            Aircrafts</button
          ><button
            class="btn btn-outline-info m-2"
            (click)="getDesignAircrafts()"
          >Design</button
          ><button
            class="btn btn-outline-info m-2"
            (click)="getDevelopmentAircrafts()"
          >Development</button>
        </li>
      </ul>
  </nav>
  